*, html, body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

body{
   font-size: 13pt;
   background: #fff;
   height: 100%;
}

header{
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(167, 161, 161);
}

h1, ul, li, li a{
   border: none;
   background: none;
   color: #202124;
   padding: 5px;
}

li, li a{
     list-style-type: none;
     text-decoration: none;
     font-size: inherit;
     color: #202124;
     border-radius: 5px;
     border: none;
     cursor: pointer;
}

li a:hover{
   border: 2px solid rgb(229, 229, 229);
   background: #fff;
}

main{
   display: block;
   /* flex-direction: column;
   justify-content: center;
   align-items: center; */
   margin: 10px;
}

form{
   width: 70%;
   display: grid;
   grid-template-columns: (6, 1fr);
   gap: 15px;
   padding: .875em .565em;
   /* border: 2px solid #c1c1c1; */
}

form p{
   grid-column: 1/7;
}

label{
   grid-column: 1 / 3;
   font-size: .745em;
   padding: .2em .2em 0 .3em;
}

input, select{
   grid-column: 3 / 7;
   height: auto;
   border-radius: 5px;
}

select{
   font-weight: bold;
   background: rgb(236, 234, 234);
}

#from{
   grid-column: 1/3;
}

#range{
   grid-column: 3/5;
}

#to{
   grid-column: 5/6;
}

#num{
   grid-column: 6/7;
}

input:focus{
   outline: 2px solid rgb(222, 209, 136);
}

form button{
   grid-column: 6/7;
   background: blue;
   color: #fff;
   border-radius: 5px;
   padding: .612em;
   border: none;
   cursor: pointer;
}

@media screen and (max-width: 425px) {
   form{
      width: 100%;
      margin: 5px;
   }
   
   form, label, select{
      display: block;
      /* margin: 5px; */
   }

   body, form{
      font-size: 10pt;
   }

   form button{
      width: auto;
      margin: 5px auto;
      display: flex;
   }
}