*, html, body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 13pt;
   background: #fff;
}

ul{
   display: block;
   float: right;
   margin: auto 15px;
   padding: 15px;
   }

   li, a{
     list-style-type: none;
     text-decoration: none;
     font-size: .864em;
     color: #202124;
   }

main{
   width: 100%;
   display: block;
}

form{
   padding: 15px 20px;
   width: 80%;
   display: block;
}

.div, .select{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
}

.from, .to{
   display: grid;
   margin: 3px;
}