body, html {
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: 13pt;
    font-family: arial,sans-serif;
    color: #202124;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}

nav a{
	color: #000;
    padding: 5px;
}

a {
    font-size: .735em;
    text-decoration: none;
}

nav img{
    height: 20px;
    cursor: pointer;
    padding: 5px;
}

.main-container{
    width: 80%;
    margin: auto;
}

.container{
    margin: auto;
    width: 100%;
    text-align: center;
}

#google{
    font-size: 1.5em;
    margin-bottom: auto;
}

h1, span:nth-of-type(3){
    color: rgb(39, 39, 248);
}

h1 > span {
    color: rgb(236, 30, 30);
}

span:nth-of-type(2){
    color: rgb(240, 240, 43);
}

span:nth-of-type(4){
    color: green;
}

.form-container{
    display: block;
}

form{
    width: 80%;
    margin: auto;
}

form > input{
    padding: 6px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid rgb(229, 229, 229);
}

form > input:hover{
    border-color: whitesmoke;
    border-width: 3px;
}

form > input:focus-within{
    color: black;
    border: 3px solid rgb(229, 229, 229);
}

.searchbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.searchbtn input{
    border-radius: 5px;
    padding: 6px;
    margin: 0px 5px;
    border: none;
    cursor: pointer;
}

.searchbtn input:hover{
    border: 2px solid rgb(229, 229, 229);
}

@media screen and (max-width: 350px){
    .searchbtn{
        display: block;
    }
    .searchbtn input{
        margin: 4px auto;
    }
}

footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}